{% macro displayTabs(route,mode) %}
    <ul class="nav nav-tabs my-4">

        {% if mode == 'edit' %}
            {{ _self.displayLink(route, 'app_student_edit_profile', 'profile.title.profile') }}
        {% else %}
            {{ _self.displayLink(route, 'app_student_profile', 'profile.title.profile') }}
        {% endif %}

        {{ _self.displayLink(route, 'app_student_bookmarks', 'profile.title.bookmarks') }}

    </ul>
{% endmacro %}

{% macro displayLink(activeRouteName, routeName, label) %}
    <li class="nav-item">
        <a 
            {% if activeRouteName == routeName %}
                class="nav-link active"
                aria-current="page"
            {% else %}
                class="nav-link" 
            {% endif %}
                href="{{ path(routeName) }}">
            {{  label|trans }}
        </a>
    </li>
{% endmacro %}
