{% macro displayField(field) %}
    {% if field %}
        {{ field }}
    {% else %}
        {{ 'general.novalue'|trans }}
    {% endif %}
{% endmacro %}

<div class="col-12 d-flex justify-content-start mb-4">
    <a href="{{ path('app_student_edit_profile') }} "
        class="btn btn-outline-primary me-3">
        {{ 'profile.edit'|trans }}
    </a>
</div>
<article class="col-12 col-md-6 mb-3">
    <h2 class="fs-6 text-secondary">
        {{ 'profile.first_name'|trans }}
    </h2>
    <p class="mb-4">
        {{ _self.displayField(student.firstName) }}
    </p>
    <h2 class="fs-6 text-secondary">
        {{ 'profile.last_name'|trans }}
    </h2>
    <p class="mb-4">
        {{ _self.displayField(student.lastName) }}
    </p>
    <h2 class="fs-6 text-secondary">
        {{ 'profile.email'|trans }}
    </h2>
    <p class="mb-4">
        {{ student.email }}
    </p>
    <h2 class="fs-6 text-secondary">
        {{ 'profile.phone'|trans }}
    </h2>
    <p class="mb-4">
        {{ _self.displayField(student.phone) }}
    </p>
    <h2 class="fs-6 text-secondary">
        {{ 'profile.birthdate'|trans }}
    </h2>
    <p class="mb-4">
        {% if student.birthdate %}
            {{ student.birthdate|format_date }}
        {% else %}
            {{ 'general.novalue'|trans }}
        {% endif %}
    </p>
    <h2 class="fs-6 text-secondary">
        {{ 'profile.school'|trans }}
    </h2>
    <div class="bg-light p-4 my-2">
        {% set school = student.school %}
        {% if school %}
            {% if school.name is not same as(school.parentSchool.name) %}
                <p class="mb-4">
                    {{ school.parentSchool }}
                </p>
            {% endif %}
            <p class="mb-4">
                {{ school }}
            </p>
            <p class="mb-4">
                Campus {{ school.campus }}
            </p>
        {% else %}
            <p class="mb-4">
                {{ 'profile.choose_school'|trans }}
            </p>
        {% endif %}
    </div>

    <h2 class="fs-6 text-secondary">
        {{ 'profile.social_scholarship'|trans }}
    </h2>
    <p class="mb-4">
        {{ student.socialScholarship
            ? '<i class="fa-regular fa-square-check fa-xl"></i>'
            : '<i class="fa-regular fa-square fa-xl"></i>' }}
    </p>
    <h2 class="fs-6 text-secondary">
        {{ 'profile.reduced_mobility'|trans }}
    </h2>
    <p class="mb-4">
        {{ student.reducedMobility
            ? '<i class="fa-regular fa-square-check fa-xl"></i>'
            : '<i class="fa-regular fa-square fa-xl"></i>' }}
    </p>
</article>

<article class="col-12 col-md-6 mb-3">
    <div class="col-12 mb-4 bg-info text-white p-4">
        <p class="fs-6">
            {{ 'profile.dossier_facile_text'|trans }}
        </p>

        <a class="btn text-center bg-white"
            href="https://www.dossierfacile.fr/"
            target="_blank">
            <img src="{{ asset('build/images/logos/logo_dossierfacile.svg') }}"
                alt="Dossier Facile" />
            <i class="fa-solid fa-file-zipper fa-2x"></i>
        </a>
    </div>
    <div class="col-12 mb-4 bg-info text-white p-4">
        <p>
            {{ 'faq.school_information'|trans }}
        </p>
        {% if app.user.school %}
            <div class="mt-4 btn text-center bg-white">
                <i class="fa-solid fa-building-columns fa-2x"></i>

                <a class="btn"
                    href="{{ app.user.school.websiteUrl }}"
                    target="_blank">
                    {{ app.user.school.name }}
                </a>
            </div>
        {% else %}
            <p class="mb-4">
                {{ 'profile.choose_school'|trans }}
            </p>
        {% endif %}
    </div>

    <div class="col-12 mb-4 bg-light p-4">
        <p>
            {{ 'profile.urgent_text'|trans }}
        </p>
        <a class="btn btn-primary"
            href="{{ path('app_housing_emergency_request_qualification') }}">
            {{ 'footer.urgent'|trans|upper }}
        </a>
    </div>
</article>

<div class="col-12 d-flex justify-content-start mb-4">
    <a href="{{ path('app_student_edit_profile') }} "
        class="btn btn-outline-primary me-3">
        {{ 'profile.edit'|trans }}
    </a>
    <a href="{{ path('app_student_reset_password') }} "
        class="btn btn-outline-primary">
        {{ 'profile.change_password'|trans }}
    </a>
</div>
