{{ form_start(form) }}
<div>
    {{ form_errors(form) }}
</div>
{{ form_widget(form) }}
<div class="d-flex justify-content-center">
    <input type="submit"
        class="btn btn-primary col"
        value="{{ 'profile.save'|trans }}" />
</div>
{{ form_end(form) }}
