{% extends 'base.html.twig' %}

{% block title %}
    {{ 'profile.title.bookmarks'|trans }}
    {{ parent() }}
{% endblock %}

{% import 'housing/_housing_card.html.twig' as HousingCard %}
{% import 'student/_navlink.html.twig' as Navigation %}

{% block body %}
    <main class="container flex-grow-1 d-flex flex-column" id="maincontent">
        <div class="row">
            <div class="col-12">
                {{
                    Navigation.displayTabs(app.request.attributes.get('_route'))
                }}
                {% if bookmarksList|length %}
                    <ul class="text-dark text-center text-md-start p-0"
                        style="list-style: none">
                        {% for bookmarkElement in bookmarksList %}
                            {% if not bookmarkElement[0].available %}
                                <div class="bookmark-unavailable">
                                    
                            {% endif %}
                         
                           <li>
                                {{
                                    HousingCard.displayCard(
                                        bookmarkElement[0],
                                        bookmarkElement.hasCriteria,
                                        bookmarkElement.isPriority,
                                        imageBaseUrl
                                    )
                                }}
                             
                            </li>
                             {% if not bookmarkElement[0].available %}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </ul>
                {% else %}
                    <div class="d-flex justify-content-center">
                        <h1 class="mt-4">
                            {{ 'bookmark.empty'|trans }}
                            <i class="fa-solid fa-heart">

                            </i><span class="visually-hidden">{{
                                    'bookmark.remove'|trans
                                }}</span>
                        </h1>
                    </div>
                {% endif %}
            </div>
        </div>
    </main>
{% endblock %}
