{% extends 'base.html.twig' %}

{% block title %}
    {{ 'profile.title'|trans }}
{% endblock %}

{% import 'housing/_housing_card.html.twig' as HousingCard %}

{% block body %}
    <main class="container flex-grow-1 d-flex flex-column" id="maincontent">
        <div class="row">
            <div class="col-12">
                <h1 class="text-primary mb-3 text-center">
                    {{ 'profile.title'|trans }}
                </h1>
                <h2 class="text-primary mb-2 text-center">
                    {{ 'profile.information'|trans }}
                </h2>
                <ul class="text-dark text-center p-0" style="list-style: none">
                    <li>
                        <span class="me-2">
                            <i class="fa-solid fa-user text-primary"></i>
                        </span>
                        <span>{{ student.email }}</span>
                    </li>
                </ul>
                <h2 class="text-primary mb-2 text-center">
                    Mes logements favoris
                </h2>
                <ul class="text-dark text-center text-md-start p-0"
                    style="list-style: none">
                    {% for housing in student.getBookmarks %}
                        <li>
                            {{ HousingCard.displayCard(housing, imageBaseUrl) }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </main>
{% endblock %}
