{% extends 'lessor_base.html.twig' %}

{% block title %}
    {{ 'authentication.reset_password.page_title'|trans }}
{% endblock %}

{% block body %}
    <main class="container mb-3 flex-grow-1 d-flex flex-column justify-content-center"
        id="maincontent">
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-md-6">
                <p class="text-center">
                    {{
                        'authentication.reset_password.request.confirmation'|trans
                    }}
                </p>
                <p class="text-center">
                    {{
                        'authentication.reset_password.request.link_expiration'|trans
                    }}
                    {{
                        resetToken.expirationMessageKey|trans(
                            resetToken.expirationMessageData,
                            'ResetPasswordBundle'
                        )
                    }}.
                </p>
                <p class="text-center">
                    {{
                        'authentication.reset_password.request.no_email_advice.text'|trans
                    }}
                    <a href="{{ path('lessor_reset_password_request') }}">
                        {{
                            'authentication.reset_password.request.no_email_advice.link'|trans
                        }}
                    </a>
                </p>
            </div>
        </div>
    </main>
{% endblock %}
