{% extends 'lessor_base.html.twig' %}

{% block title %}
    {{ 'authentication.reset_password.page_title'|trans }}
    {{ parent() }}
{% endblock %}

{% block body %}
    <main class="container mb-3 flex-grow-1 d-flex flex-column justify-content-center"
        id="maincontent">
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-md-6">
                <p class="text-center">
                    {{
                        'authentication.reset_password.request.introduction'|trans
                    }}
                </p>
                {{ form_start(requestForm) }}
                <div class="form-floating mb-3">
                    {{ form_widget(requestForm.email) }}
                    {{ form_label(requestForm.email) }}
                    {% for error in requestForm.email.vars.errors %}
                        <div class="invalid-feedback">
                            {{ error.message|trans }}
                        </div>
                    {% endfor %}
                </div>
                <div class="row">
                    <div class="col d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary">
                            {{
                                'authentication.reset_password.request.button'|trans
                            }}
                        </button>
                    </div>
                </div>
                {{ form_end(requestForm) }}
            </div>
        </div>
    </main>
{% endblock %}
