{% macro displayCard(housing, imageBaseUrl) %}
    {% import 'housing/_carousel.html.twig' as Carousel %}
    {% import 'housing/_range_data.html.twig' as RangeData %}

    <div class="card mb-3">
        <div class="row g-0 mb-4">
            <div class="col-12 col-md-6">
                {{
                    Carousel.displayHousingCarousel(
                        housing.id,
                        imageBaseUrl,
                        housing.pictures
                    )
                }}
            </div>

            <div class="col-12 col-md-6">
                <div class="card-body">
                    <div class="card-title d-flex justify-content-between">
                        <a href="{{
                            path(
                                'app_housing_detail',
                                {
                                    id: housing.id
                                }
                            )
                            }}">
                            <span>
                                {{ housing.type }} - {{
                                    RangeData.displayArea(
                                        housing.areaMin,
                                        housing.areaMax
                                    )
                                }}
                            </span>
                        </a>
                        <span>{{ housing.housingGroup.address.city }}</span>
                        <span>
                            {% if housing.smoking %}
                                <i class="fa-solid fa-smoking"></i><span class="visually-hidden">{{
                                        'housing.smoking'|trans
                                    }}</span>
                            {% endif %}
                            {% if housing.animalsAllowed %}
                                <i class="fa-solid fa-paw"></i><span class="visually-hidden">{{
                                        'housing.animals_allowed'|trans
                                    }}</span>
                            {% endif %}

                            {% if housing.accessibility %}
                                <i class="fa-brands fa-accessible-icon"></i><span class="visually-hidden">{{
                                        'housing.accessible'|trans
                                    }}</span>
                            {% endif %}
                        </span>
                    </div>
                    <div class="d-flex align-items-start flex-column bd-highlight mb-3">
                        {% for poi in housing.housingGroup.pointsOfInterest %}
                            {% if poi.category == 'transportation' %}
                                <div class="p-2">
                                    <i class="fa-solid fa-bus"></i>{{
                                        poi.label
                                    }} {{ poi.description }}
                                </div>
                            {% endif %}
                            {% if poi.category == 'store' %}
                                <div class="p-2">
                                    <i class="fa-solid fa-basket-shopping"></i>{{
                                        poi.label
                                    }} {{ poi.description }}
                                </div>
                            {% endif %}
                        {% endfor %}
                        <div class="p-2">
                            <i class="fa-solid fa-school"></i>CentraleSupélec
                        </div>
                    </div>

                    <a href="#" class="card-link">
                        Voir les conditions d’éligibilité après connexion
                    </a>

                    <span class="price card-text d-flex align-items-end justify-content-end">
                        {{ housing.rentMin }} €
                    </span>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}
