{% extends 'base.html.twig' %}

{% block title %}
    {{ 'home.pagetitle'|trans }}
{% endblock %}

{% block body %}
    <div class="container text-center p-4">
        <h1>
            {{ 'home.welcome.title'|trans }}
        </h1>

        <h2>
            {{ 'home.welcome.subtitle'|trans }}
        </h2>
    </div>
    {% import 'home/_housing_card.html.twig' as HousingCard %}
    <main class="container">
        <div class="d-flex justify-content-end">
            {{
                knp_pagination_sortable(
                    pagination,
                    'home.sort.price'|trans,
                    'h.rentMin'
                )
            }}
            {{
                knp_pagination_sortable(
                    pagination,
                    'home.sort.area'|trans,
                    'h.areaMin'
                )
            }}
        </div>
        {% for housing in pagination %}
            {{ HousingCard.displayCard(housing, imageBaseUrl) }}
        {% endfor %}
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </main>
{% endblock %}
