{% import 'housing/_search.html.twig' as Search %}

{% extends 'base.html.twig' %}

{% block title %}
    {{ 'home.page_title'|trans }}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="container col-12" role="presentation">
        <div class="row mb-4" style="max-height: 8rem;">
            <img class="img-fluid"
                style="z-index: -1;"
                src="{{ asset('build/images/home/mosaic-1600-502.jpg') }}"
                alt=""
                aria-hidden="true" />
        </div>
    </div>

    <main class="container col-12" id="maincontent">
        <div class="col-12 col-lg-10 mx-auto bg-light mb-4 p-4 border border-1">
            <h1 class="h2">
                {{ 'housing.search.criteria.title'|trans }}
            </h1>
            {{ Search.displaySearch(form, cities) }}
        </div>
        <div class="row mb-4 d-md-block">
            <h1 class="h2">
                {{ 'home.welcome.title'|trans|raw }}
            </h1>
            <p>
                {{ 'home.welcome.base_line'|trans|raw }}
            </p>
        </div>

        <ul class="row mb-4"
            style="list-style-type: none; padding: 0; margin: 0;">
            <li class="col-12 col-lg-4 mt-4">
                {{ render(path('housing_guide_search_sumup')) }}
            </li>
            <li class="col-12 col-lg-4 mt-4">
                {{ render(path('housing_guide_cost_sumup')) }}
            </li>
            <li class="col-12 col-lg-4 mt-4">
                {{ render(path('housing_guide_apply_sumup')) }}
            </li>
        </ul>
    </main>
{% endblock %}
