{% import 'housing/_search.html.twig' as Search %}

{% extends 'base.html.twig' %}

{% block title %}
    {{ 'home.page_title'|trans }}
{% endblock %}

{% block body %}
    <div class="container text-center p-4 d-md-block">
        <h1>
            {{ 'home.welcome.title'|trans|raw }}
        </h1>
    </div>
    <div class="container col-12" role="presentation">
        <div class="d-flex flex-col g-0">
            <img class="img-fluid"
                alt=""
                aria-hidden="true"
                src="{{ asset('build/images/home/mosaic-1600-502.jpg') }}" />
        </div>
    </div>
    <main class="container col-12 mb-3" role="search" id="maincontent">
        <div class="col-12 bg-light p-4">
            <div class="h1">
                {{ 'housing.search.criteria.title'|trans }}
            </div>
            {{ Search.displaySearch(form) }}
        </div>
    </main>
{% endblock %}
