{% extends 'lessor_admin/lessor_base.html.twig' %}
{% import 'lessor_admin/_housing_group_list_item.html.twig'
    as HousingGroupItem
%}
{% import 'housing/_search_housing_group.html.twig' as Search %}

{% block title %}
    {{ 'housing.list.page_title'|trans }}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="container">
        {% if (pagination|length) > 0 %}
            <div class="d-flex align-items-center">
                <button class="btn btn-sm btn-outline-primary m-2"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseSearch"
                    aria-expanded="false"
                    aria-controls="collapseSearch">
                    <i class="fa-solid fa-sliders"></i>
                    <span class="d-none d-md-inline">
                        Filtrer la liste par ville
                    </span>
                </button>
            </div>
        {% endif %}
        <div class="collapse mb-4 {{ (pagination|length) == 0 ? 'show' }}"
            id="collapseSearch">
            <div class="card-body">
                {{ Search.displaySearch(form, cities) }}
            </div>
        </div>
    </div>

    <main class="container" id="maincontent">
        {% if pagination|length %}
            <div class="row">
                {% for housingGroup in pagination %}
                    <div class="col-12 col-md-6 col-lg-4">
                        {{
                            HousingGroupItem.displayListItem(
                                housingGroup,
                                imageBaseUrl
                            )
                        }}
                    </div>
                {% endfor %}
                <div class="col-12 col-md-6 col-lg-4">
                    <a class="btn btn-primary mt-2 mb-2"
                        href="{{
                        path(
                            'app_lessor_admin_housing_group_create'
                        )
                        }}">
                        Ajouter un Groupe de Logement
                    </a>
                </div>
            </div>
            <div class="navigation" role="navigation" aria-label="pages">
                {{ knp_pagination_render(pagination) }}
            </div>
        {% else %}
            <div class="col-12">
                <h1>
                    Bonjour et bienvenue
                </h1>
                <p>
                    Créez votre premier groupe de logement
                </p>
                <a class="btn btn-primary mt-2 mb-2"
                    href="{{ path('app_lessor_admin_housing_group_create') }}">
                    Ajouter un Groupe de Logement
                </a>
            </div>
        {% endif %}
    </main>
{% endblock %}
