{% extends 'lessor_admin/lessor_base.html.twig' %}
{% import 'lessor_admin/_navlink.html.twig' as Navigation %}

{% block body %}
    {% set form_part = app.request.attributes.get('form_part') %}

    <div class="container">
        <a class="btn btn-primary mt-4"
            href="{{ path('app_lessor_admin_housing_group_list') }}">
            <i class="fa-solid fa-arrow-left"></i> Retour
        </a>
        {% if form.vars.data.housingGroup is not null %}
            <div class="row py-4">
                <h1>
                    {{ form.vars.data.housingGroup.name }} -
                    {{ form.vars.data.housingGroup.address.street }},
                    {{ form.vars.data.housingGroup.address.postalcode }}
                    {{ form.vars.data.housingGroup.address.city }}
                </h1>
            </div>
        {% endif %}

        <ul class="nav nav-tabs my-4">
            {% if
                form_mode
                    == constant(
                        'App\\Form\\Lessor\\HousingFormType::MODE_CREATE'
                    ) %}
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">
                        Principal
                    </a>
                </li>
            {% else %}
                {{
                    Navigation.displayLink(
                        form_part,
                        'app_lessor_admin_housing_edit',
                        'Principal',
                        form.vars.data.id,
                        constant(
                            'App\\Form\\Lessor\\HousingFormType::PRINCIPAL'
                        )
                    )
                }}
                {{
                    Navigation.displayLink(
                        form_part,
                        'app_lessor_admin_housing_edit',
                        'Photos',
                        form.vars.data.id,
                        constant('App\\Form\\Lessor\\HousingFormType::PHOTO')
                    )
                }}
                {{
                    Navigation.displayLink(
                        form_part,
                        'app_lessor_admin_housing_edit',
                        'Critères établissement',
                        form.vars.data.id,
                        constant(
                            'App\\Form\\Lessor\\HousingFormType::SCHOOLCRITERION'
                        )
                    )
                }}
                {{
                    Navigation.displayLink(
                        form_part,
                        'app_lessor_admin_housing_edit',
                        'Critères de bourse',
                        form.vars.data.id,
                        constant(
                            'App\\Form\\Lessor\\HousingFormType::SOCIALSCHOLARSHIP'
                        )
                    )
                }}
            {% endif %}
        </ul>

        {{ form_start(form) }}
        <p>
            {{ form_errors(form) }}
        </p>

        {% if
            form_part
                == constant('App\\Form\\Lessor\\HousingFormType::PRINCIPAL')
                or form_part is null %}
            <div class="row my-4 py-4">
                <div class="col-12 col-md-8">
                    <div class="row">
                        {{ form_row(form.housingGroup) }}

                        <h1 class="form-label">
                            Description
                        </h1>
                        <hr class="divider" />
                        <div class="col">
                            {{ form_row(form.type) }}
                        </div>

                        <div class="col bg-info text-white form-control">
                            <h2>
                                Cocher la case publie l'offre sur le site
                            </h2>

                            {{ form_row(form.available) }}
                        </div>
                        {{
                            form_row(
                                form.description,
                                {
                                    attr: {
                                        rows: 5
                                    }
                                }
                            )
                        }}
                        {{ form_row(form.redirectLink) }}
                    </div>
                </div>

                <div class="col-12 col-md-4 border-start border-5">
                    <h2>
                        Equipements
                    </h2>
                    {% set displayed = [] %}

                    {% if form.vars.data.housingGroup is not null %}
                        <h3>
                            Déjà présents au niveau du groupe
                        </h3>
                        {# display Housing Group Infos #}

                        <div class="row my-4">
                            <div class="col">
                                {% for equipment in form.vars.data.housingGroup.equipments %}
                                    <div class="text-wrap"
                                        style="display: inline-block; width: 180px;">
                                        <i class="{{ equipment.picture }}"></i>{{ equipment.label }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}

                    <h3>
                        Ajoutez ceux spécifiques à ce logement
                    </h3>
                    <p>
                        {{ form_errors(form.equipments) }}
                    </p>

                    {% for equipment in form.equipments %}
                        <div style="display: inline-block; width: 180px;">
                            {{ form_widget(equipment) }}
                            {{ form_label(equipment) }}
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="row my-4 py-4">
                <h1>
                    Caractéristiques
                </h1>
                <hr class="divider" />
                <div class="col-12 col-md-4">
                    {{ form_row(form.quantity) }}
                    {{ form_row(form.occupants) }}
                    {{ form_row(form.animalsAllowed) }}
                    {{ form_row(form.smoking) }}
                    {{ form_row(form.accessibility) }}

                    <div class="row">
                        <h2>
                            Surfaces
                        </h2>
                        <div class="col">
                            {{ form_row(form.areaMin) }}
                        </div>
                        <div class="col">
                            {{ form_row(form.areaMax) }}
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-4 bg-secondary text-white">
                    <h1>
                        Prix €
                    </h1>
                    <hr class="divider" />
                    <div class="row">
                        {{ form_row(form.aplAgreement) }}
                        <div class="col">
                            {{ form_row(form.rentMin) }}
                        </div>
                        <div class="col">
                            {{ form_row(form.rentMax) }}
                        </div>
                    </div>
                    <div class="row">
                        {{ form_row(form.chargesIncluded) }}
                    </div>

                    <div class="row">
                        <div class="col">
                            {{ form_row(form.chargesMin) }}
                        </div>
                        <div class="col">
                            {{ form_row(form.chargesMax) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            {{ form_row(form.applicationFeeMin) }}
                        </div>
                        <div class="col">
                            {{ form_row(form.applicationFeeMax) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            {{ form_row(form.securityDepositMin) }}
                        </div>
                        <div class="col">
                            {{ form_row(form.securityDepositMax) }}
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    {{ form_row(form.occupationModes) }}
                    {{ form_row(form.livingMode) }}
                    {{ form_row(form.stayDurations) }}
                    {{ form_row(form.leaseType) }}
                </div>
            </div>
        {% endif %}

        {% if
            form_part
                == constant('App\\Form\\Lessor\\HousingFormType::PHOTO') %}
            {% include 'lessor_admin/_photos.html.twig' with {
                pictures: form.pictures
            } %}
        {% endif %}

        {% if
            form_part
                == constant(
                    'App\\Form\\Lessor\\HousingFormType::SCHOOLCRITERION'
                ) %}
            {% include 'lessor_admin/_school_criteria.html.twig' with {
                schoolCriteria: form.schoolCriteria
            } %}
        {% endif %}

        {% if
            form_part
                == constant(
                    'App\\Form\\Lessor\\HousingFormType::SOCIALSCHOLARSHIP'
                ) %}
            {% include 'lessor_admin/_social_scholarship.html.twig' with {
                socialScholarship: form.socialScholarshipCriteria
            } %}
        {% endif %}

        <input type="submit"
            value="Enregistrer"
            class="btn btn-primary form-control my-4" />

        {{ form_end(form) }}

        <a class="btn btn-primary mb-4"
            href="{{ path('app_lessor_admin_housing_group_list') }}">
            <i class="fa-solid fa-arrow-left"></i> Retour
        </a>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('lessor_admin') }}
{% endblock %}
