{% extends 'base.html.twig' %}

{% block body %}
    <div id="maincontent" class="container guide search">
        <div class="row mb-4" style="max-height: 450px;">
            <img class="img-fluid"
                style="z-index: -1;"
                src="{{
                asset(
                    'build/images/guide/chercher/UPSaclay-iStock-891975280.jpg'
                )
                }}"
                alt="" />
        </div>

        <div class="row gx-6 gy-5 mb-4" style="background-color: white;">
            <div class="maincontent col-12 col-lg-8">
                <h1>
                    <strong>Avoiding</strong>
                    Scams
                </h1>

                <p>
                    With the high demand for accommodation (especially student
                    accommodation) scammers operating in the property market are
                    rife. Aiming at a young and international target group, they
                    trick housing applicants with misleading advertisements and
                    underhand techniques.
                </p>
                <p>
                    You should be particularly careful of online sales sites,
                    such as Leboncoin.fr or Facebook. It is, of course, possible
                    to find adverts for renting studios or flats on these sites.
                    However, the sites are not managed by landlords or property
                    companies. Here are the most common types of internet scams.
                </p>

                <h2>
                    False advertisements
                </h2>
                <p>
                    False advertisements are easy to create and particularly
                    hard to spot. Usually, the advertiser 'steals from’ a site
                    and collects photos and a description of a property already
                    posted previously. Scammers also get photos from the
                    Internet, add a phone number and set a generally attractive
                    price. The property might even be a 'phantom property’ which
                    is created from scratch and does not really exist. Even if
                    the property does exist, it may belong to somebody else and
                    perhaps already be rented. Before drawing up a lease
                    agreement or showing you the property, the scammer may ask
                    you to pay a certain amount of money in cash, by cheque, by
                    bank transfer or by other unconventional means. Once the
                    money has been collected, the so-called owner will ask you
                    for more money... or disappear, without anything further
                    taking place.
                </p>
            </div>

            <div class="sidecontent col-12 col-lg-4">
                <div class="text-center">
                    <i class="fa-solid fa-triangle-exclamation fa-2x ms-2"
                        aria-hidden="true">

                    </i>
                </div>

                <p>
                    <span class="visually-hidden">Danger !</span> Beware of 'owners'
                    asking you to send them money via prepaid purchase cards, phone
                    cards or other means of payment other than bank transfers or
                    cheques.
                </p>

                <p>
                    For private housing, ask to see the property before making a
                    financial commitment. Information on the
                    <a href="https://www.service-public.fr/particuliers/vosdroits/F35323?lang=en"
                        target="_blank">
                        regulation of real estate advertisements
                    </a>
                </p>
                <p class="text-center">
                    <i class="fa-solid fa-ghost fa-10x opacity-25" alt="Ghost">

                    </i>
                </p>
            </div>
        </div>

        <div class="row gx-6 gy-5 mb-4">
            <div class="col-12 col-lg-4 sidecontent">
                <h1>
                    How ?
                </h1>
                <p>
                    Find out the average price for the kind of property you are
                    looking for.
                </p>
                <p>
                    The rent is agreed and specified on the lease agreement. You
                    do not have to pay any more than the sum stated. If, at the
                    time of the departure inventory, the condition of the flat
                    is similar to its condition on arrival, the deposit cannot
                    be retained.
                </p>

                <p class="text-center">
                    <i class="fa-solid fa-euro-sign fa-10x opacity-25"
                        alt="euro sign">

                    </i>
                </p>
            </div>
            <div class="col-12 col-lg-8 maincontent">
                <h2>
                    Prices which are too high
                </h2>
                <p>
                    These types of adverts are aimed at tricking people
                    (especially those from abroad) who have no idea about local
                    property prices. Compared to the rental rates on the real
                    estate market, these landlords set prices well above the
                    average. Potential tenants can fall into the trap of paying
                    much more than they should and sometimes can lose
                    significant sums.
                </p>

                <h2>
                    Various charges
                </h2>
                <p>
                    These scams are undetectable at first glance. Only once the
                    file has been compiled and the accommodation occupied will
                    the landlord perhaps try to cheat the tenant. The landlord
                    may, for example, ask the tenant to pay additional insurance
                    and deposits and, at the end of the tenancy, retain the
                    deposit without good reason. The landlord may even claim
                    unjustified expenses. Be aware that a landlord has no right
                    to ask you to pay insurance directly to them. You should
                    make such payments to the recognised organisations, not to
                    your landlord.
                </p>
                <p class="text-end">
                    <img id="house-calc"
                        src="{{
                        asset(
                            'build/images/guide/chercher/UPSaclay-Stock-932278678.jpg'
                        )
                        }}"
                        alt="illustrastes housing budget calculation" />
                </p>
            </div>
        </div>

        <div class="row gx-6 gy-5 mb-4">
            <div class="col-12 col-lg-8 maincontent">
                <div class="fa-2x text-success">
                    <i class="fa-solid fa-faucet-drip text-success fa-2x ms-4"
                        alt="faucet drip icon">

                    </i>
                    <i class="fa-solid fa-temperature-arrow-down text-primary fa-4x mb-4 ms-2"
                        alt="temperature down icon">

                    </i>
                </div>

                <h1>
                    Substandard and unsubsidised accommodation
                </h1>
                <p>
                    Some landlords rent out unsubsidised and unregulated
                    properties. The accommodation may have no running water or
                    no heating, or have mould or faulty electricity and
                    therefore be dangerous for the tenant. For example,
                    advertisements exist for storage units, garages, cellars and
                    attics which are also not subsidised and are not intended to
                    accommodate tenants.
                </p>
                <p>
                    The landlord usually has no right to rent out this type of
                    'accommodation'. However, this does not prevent less
                    scrupulous landlords from doing so. To get around the law,
                    they will not ask you to sign a rental agreement and may,
                    for example, demand cash for the rent. All these scams are
                    unfortunately quite common. A large number of students are
                    tricked every year and lose a lot of time and money.
                </p>
                <div class="bg-success text-white p-4">
                    <h2 class="text-white">
                        Be careful
                    </h2>

                    <p>
                        To avoid becoming a victim of this type of scam, avoid
                        sales and advertising sites which are not exclusively
                        dedicated to real estate adverts. Carry out your
                        research on our site or on sites such as Studapart,
                        Lokaviz, Adele or on the landlords' own websites.
                    </p>
                </div>
            </div>
            <div class="col-12 col-lg-4 sidecontent">
                <div class="text-center">
                    <i class="fa-solid fa-comment fa-2x ms-2" alt="dialog icon">

                    </i>
                </div>

                <p>
                    Target subsidised accommodation. If you are looking for a
                    rental on your own, look to see if the accommodation is
                    eligible for housing benefit (Personalised Housing
                    Assistance (APL)) This information can give you an idea of
                    whether or not you are dealing with an abusive landlord.
                    Also, be aware that a dwelling available for rent should
                    have a minimum surface area of 9 m2 and a ceiling height of
                    2.20 m. The living space should be 20 m3
                </p>

                <p>
                    <a href="https:///www.service-public.fr/particuliers/vosdroits/F2042?lang=en"
                        target="_blank">
                        Information about decent housing regulations
                    </a>
                </p>
            </div>
        </div>

        <div class="row gx-6 gy-5 mb-4">
            <div class="col-12 col-lg-4 sidecontent">
                <p>
                    <strong>
                        The search for accommodation can be carried out in three
                        ways
                    </strong>
                </p>

                <ul style="list-group list-group-flush">
                    <li class="list-group-item">
                        <span class="badge text-white bg-info rounded-pill fs-4">
                            1
                        </span>
                        <p>
                            SITES FOR RESERVING UNIVERSITY ACCOMMODATION and in
                            particular those run by the Regional centre for
                            academic and educational works (CROUS)
                        </p>
                    </li>
                    <li class="list-group-item">
                        <span class="badge text-white bg-info rounded-pill fs-4">
                            2
                        </span>
                        <p>
                            THE WEBSITES OF SOCIAL AND PRIVATE LANDLORDS whose
                            offers may be listed on advertising sites,
                        </p>
                    </li>
                    <li class="list-group-item">
                        <span class="badge text-white bg-info rounded-pill fs-4">
                            3
                        </span>
                        <p>
                            ADVERTISING SITES OR THE WEBSITES OF ASSOCIATIONS
                            which list the offers made by individuals
                        </p>
                    </li>
                </ul>
                <div class="border-bottom mb-4">
                    <div class="text-center">
                        <i class="fa-solid fa-comment fa-2x ms-2"
                            alt="dialog icon">

                        </i>
                    </div> <br />
                    <p class="fs-6">
                        In all three cases, it is advisable to search for
                        accommodation in advance.
                    </p>
                </div>
            </div>
            <div class="col-12 col-lg-8 maincontent">
                <h1>
                    The time needed for
                    <strong>research</strong>
                </h1>

                <h2>
                    CROUS (regional centre for academic and educational works)
                    university residences
                </h2>
                <ul>
                    <li>
                        <p>
                            <i class="fa-solid fa-stopwatch"
                                alt="stopwatch icon">

                            </i> FROM MID-JANUARY • You are eligible for a grant
                            based on social criteria: your Student social file (DSE)
                            will be compiled
                            <strong>from mid-January to 15 May</strong> for the start
                            of the academic year in September. You can apply on the
                            site <a href="https://www.messervices.etudiant.gouv.fr"
                                target="_blank">
                                https://www.messervices.etudiant.gouv.fr
                            </a>
                            use the tab 'Scholarship application (DSE)’ and fill
                            in your application for accommodation.
                        </p>
                        <p>
                            <strong>Please note</strong> : not all students are eligible
                            for the Social scholarship (BCS). The attached criteria
                            are by nature restrictive (income, family situation,
                            residence and schooling conditions). To consult the criteria
                            for the Student Social File, go to <a href="https://www.etudiant.gouv.fr/fr/les-bourses-sur-criteres-sociaux-1486"
                                target="_blank">
                                Etudiants.gouv, bourses sur critères sociaux
                            </a>
                        </p>
                        <p>
                            Once you have submitted your application and your
                            file has been approved by CROUS, you have until the
                            end of June to submit your accommodation requests
                            directly on <a href="https://trouverunlogement.lescrous.fr"
                                target="_blank">
                                the national site
                            </a>
                        </p>
                    </li>
                    <li>
                        <i class="fa-solid fa-stopwatch" alt="stopwatch icon">

                        </i> start of July additional phase • If you are not eligible
                        for a grant based on social criteria, you can submit your
                        accommodation requests directly on <a href="https://trouverunlogement.lescrous.fr"
                            target="_blank">
                            la plateforme nationale
                        </a> but only from the start of July. Please note that you
                        can also make a request via : <a hre="https://logement.campus-paris-saclay.fr"
                            target="_blank">
                            the GUPS
                        </a>
                        as from June onwards. Your application will then be processed
                        by your school on the basis of academic criteria in particular.
                    </li>
                </ul>
            </div>
        </div>

        <div class="row gx-6 gy-5 mb-4">
            <div class="col-12 col-lg-8 maincontent">
                <p>
                    <ul>
                        <li>
                            <h2>
                                Social and private landlords
                            </h2>
                            <h3 class="text-info">
                                BY JUNE AT THE LATEST
                            </h3>
                            <p>
                                For social landlords, an application must be
                                completed by June at the latest for the start of
                                the academic year in September. What are the
                                advantages of doing it as far in advance as
                                possible? You maximise your chances of getting
                                the accommodation you would like. It should be
                                noted that some social landlords reserve places
                                in residences for students meeting specific
                                criteria. So, if you see a residence with free
                                places, they may not be available to everyone
                                and only to certain students
                            </p>
                        </li>
                        <li>
                            <h2>
                                Private individuals
                            </h2>
                            <h3 class="text-info">
                                AS EARLY AS POSSIBLE
                            </h3>
                            <p>
                                The watchword for private individuals too is
                                foresight - the earlier you apply, the better
                                your chances of finding accommodation.
                            </p>
                            <p>
                                If you are looking for accommodation <strong>
                                    outside the start of academic terms
                                </strong> (end of August, start of September & January),
                                you can also apply. In fact, many landlords, and
                                CROUS in particular, manage accommodation requests
                                ‘as they come in’. Between the start of the two academic
                                years, some students may leave their accommodation
                                for personal reasons or to go on work experience.
                                When this occurs, a few vacated dwellings become
                                available again and you can make an application
                            </p>
                        </li>
                    </ul>
                </p>
            </div>
            <div class="col-12 col-lg-4 sidecontent">
                <div class="border-bottom mb-4">
                    <div class="text-center">
                        <i class="fa-solid fa-comment fa-2x ms-2"
                            alt="dialog icon">

                        </i>
                    </div>
                    <br />
                    <p class="fs-6">
                        The demand for accommodation is very high, particularly
                        at the start of the university academic year. The longer
                        you delay making your request, the fewer the options
                        which will be available. We therefore advise that you
                        begin your search for accommodation at least four months
                        before your planned or intended arrival in order to
                        benefit
                    </p>
                </div>
                <p class="text-center">
                    <img id="guide-chambre"
                        src="{{
                        asset(
                            'build/images/guide/chercher/Lile-Bures-sur-Yvette-11.jpg'
                        )
                        }}"
                        style="height: 300px; object-fit:contain" />
                </p>
                <p>
                    If you have not been able to apply or file your application
                    in time, you can try to look for accommodation in a shorter
                    time frame, but this inevitably reduces your chances of
                    finding somewhere suitable.
                </p>
            </div>
        </div>
        <div class="row gx-6 gy-5 mb-4">
            <h1>
                <strong>The selection criteria</strong>
            </h1>
            <h2 class="mt-0">
                and allocation
            </h2>

            <div class="col-12 col-lg-6 maincontent">
                <p>
                    It is important to note that university residences
                    (especially those run by CROUS) have academic, social or
                    geographical criteria for selecting students who can or
                    cannot access their accommodation. This ties in with what we
                    have explained earlier - i.e. some places are reserved for
                    students who meet the selection criteria. Quotas divide the
                    number of places in a residence into two categories. The
                    first is for all student profiles. The second concerns
                    specific profiles. If you do not match the profile sought by
                    the advertiser, you will not be able to benefit from the
                    reserved places.
                </p>
            </div>
            <div class="col-12 col-lg-6 sidecontent mb-4">
                <div class="bg-success text-white p-4">
                    <h2 class="text-white">
                        Need help?
                    </h2>

                    <p>
                        Despite reading this guide, do you still feel lost? Do
                        some points remain unclear? Please get in contact with
                        the Department of Student Life & Equal Opportunities of
                        Université Paris-Saclay. They will be able to help you
                        with your search. If you need help or information about
                        accommodation, please use the
                        <a class="btn skinny bg-white text-dark btn-block"
                            href="{{ path('app_housing_generic_request') }}">
                            {{ 'footer.contact'|trans|upper }}
                        </a> form
                    </p>
                    <p>
                        You can also go to the Department of Student Life &
                        Equal Opportunities (DVEEC) offices in building 311 on
                        the Orsay campus 91400 ,each weekday (except during
                        hollidays) 9h-12h / 13h-17h
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
