{% extends 'base.html.twig' %}

{% block title %}
    Chercher un logement
    {{ parent() }}
{% endblock %}

{% block body %}
    <main id="maincontent" class="container guide search">
        <div class="row mb-4" style="max-height: 450px;">
            <img class="img-fluid"
                style="z-index: -1;"
                src="{{
                asset(
                    'build/images/guide/chercher/UPSaclay-iStock-891975280.jpg'
                )
                }}"
                alt=""
                aria-hidden="true" />
        </div>

        <div class="row gx-6 gy-5 mb-4" style="background-color: white;">
            <div class="maincontent col-12 col-lg-8">
                <h1>
                    <strong>Éviter</strong>
                    les escroqueries
                </h1>

                <p>
                    Avec la forte demande de logements, notamment en ce qui
                    concerne les logements étudiants, les escrocs opérant via
                    les offres immobilières pullulent. Visant une cible jeune et
                    internationale, ils piègent les demandeurs de logement avec
                    des annonces trompeuses et des techniques sournoises.
                </p>
                <p>
                    Il convient d’être particulièrement vigilant avec les sites
                    de vente en ligne, comme Leboncoin.fr ou Facebook. Certes,
                    il est possible d’y trouver des annonces de location de
                    studios ou d’appartement. Mais ces sites ne sont pas gérés
                    par des bailleurs ou des sociétés immobilières. Voici les
                    types d'escroqueries les plus courants sur internet.
                </p>

                <h2>
                    Les fausses annonces
                </h2>
                <p>
                    Facile à créer, la fausse annonce est particulièrement
                    difficile à reconnaître. Généralement, l’annonceur « pille »
                    le site et y récolte des photos et une description d’un bien
                    immobilier déjà postées précédemment. Ou bien il récupère
                    des photos sur Internet, y ajoute son numéro de téléphone et
                    fixe un prix généralement attractif. Or, le bien est en fait
                    un « bien-fantôme » : créé de toutes pièces, il n’existe pas
                    réellement. Ou bien, s’il existe, il appartient à quelqu’un
                    d’autre et peut-être déjà loué. Avant d’établir un contrat
                    de bail ou de vous faire visiter le logement, l’escroc peut
                    vous demander de payer une certaine somme en liquide, par
                    chèque, par virement bancaire, voire par d’autres moyens peu
                    conventionnels. Une fois l’argent encaissé, le prétendu
                    propriétaire vous demandera une fois de plus de l’argent...
                    ou disparaîtra, sans autres formes de procès.
                </p>
            </div>

            <div class="sidecontent col-12 col-lg-4">
                <div class="text-center">
                    <i class="fa-solid fa-triangle-exclamation fa-2x ms-2"
                        aria-hidden="true">

                    </i>
                </div>
                <p>
                    <span class="visually-hidden">Attention Danger !</span> Méfiez-vous
                    des « propriétaires » vous demandant de les régler via des cartes
                    prépayées d’achat, des cartes téléphoniques ou des moyens de
                    règlements autre que les virements bancaires ou les chèques.
                </p>

                <p>
                    Et, concernant le parc privé, demandez à visiter le bien
                    avant de vous engager financièrement. Informations sur la
                    <a href="https://www.service-public.fr/particuliers/vosdroits/F35323"
                        target="_blank">
                        règlementation des annonces immobilières
                    </a>
                </p>
                <div class="text-center">
                    <i class="fa-solid fa-ghost fa-10x opacity-25"></i>
                </div>
            </div>
        </div>

        <div class="row gx-6 gy-5 mb-4">
            <div class="col-12 col-lg-4 sidecontent">
                <p class="h1">
                    Comment ?
                </p>
                <p>
                    Renseignez-vous sur les prix moyens du bien recherché
                </p>
                <p>
                    Le loyer est convenu et précisé sur le contrat de bail. Vous
                    ne devez pas payer plus que ce qui est écrit. Si, lors de
                    l’état des lieux de départ, l’état de l’appartement est
                    similaire à celui constaté lors de l’état des lieux
                    d’entrée, la caution ne peut pas être encaissée.
                </p>
                <div class="text-center">
                    <i class="fa-solid fa-euro-sign fa-10x opacity-25"></i>
                </div>
            </div>
            <div class="col-12 col-lg-8 maincontent">
                <h2>
                    Les prix top élevés
                </h2>
                <p>
                    Ces annonces ont pour but de piéger les personnes –
                    notamment issues de la clientèle internationale – qui n’ont
                    pas la notion des prix de l’immobilier local. En comparaison
                    des tarifs de location pratiqués sur le marché immobilier,
                    ces propriétaires fixent des prix bien supérieurs à la
                    moyenne. Les locataires potentiels peuvent tomber dans le
                    piège de payer beaucoup plus que ce qu’ils ne devraient et
                    perdre parfois des sommes conséquentes.
                </p>

                <h2>
                    Les tarifs variables
                </h2>
                <p>
                    Ces escroqueries sont indétectables au premier abord. C’est
                    seulement une fois le dossier constitué et le logement
                    occupé que le propriétaire peut tenter de flouer le
                    locataire. Il peut par exemple lui demander de payer des
                    assurances et des cautions supplémentaires et, à la fin de
                    l’occupation, encaisser la caution sans raison valable.
                    Voire même réclamer des frais injustifiés. Sachez que le
                    propriétaire n’a en aucun cas le droit de vous demander de
                    lui payer directement une assurance. Vous devez vous
                    acquitter de ce paiement auprès des organismes agréés, et
                    non auprès de lui.
                </p>
                <div class="text-end">
                    <img id="house-calc"
                        src="{{
                        asset(
                            'build/images/guide/chercher/UPSaclay-Stock-932278678.jpg'
                        )
                        }}"
                        alt=""
                        aria-hidden="true" />
                </div>
            </div>
        </div>

        <div class="row gx-6 gy-5 mb-4">
            <div class="col-12 col-lg-8 maincontent">
                <div class="fa-2x text-success">
                    <i class="fa-solid fa-faucet-drip text-success fa-2x ms-4">

                    </i>
                    <i class="fa-solid fa-temperature-arrow-down text-primary fa-4x mb-4 ms-2">

                    </i>
                </div>

                <h2>
                    Les logements insalubres et non conventionnés
                </h2>
                <p>
                    Certains propriétaires louent des biens non conventionnés et
                    sans contrôle. Le logement peut être sans eau courante, sans
                    chauffage, avec des moisissures ou une électricité
                    défectueuse, et donc être dangereux pour le locataire. Ainsi
                    des annonces proposent de louer des boxes, des garages, des
                    caves ou des greniers, eux-aussi non conventionnés et qui ne
                    sont pas prévus pour accueillir des locataires.
                </p>
                <p>
                    Normalement, le propriétaire n’a pas le droit de louer ce
                    type de « logement ». Cela n'empêche pas certains d'entre
                    eux, peu scrupuleux, de le faire. Pour contourner la loi,
                    ils ne vous demanderont pas de signer de contrat locatif et
                    pourront, par exemple, exiger de l’argent en liquide pour le
                    règlement du loyer. Toutes ces escroqueries sont
                    malheureusement assez répandues. Chaque année un grand
                    nombre d’étudiants se font piéger et perdent ainsi beaucoup
                    de temps et d’argent.
                </p>
                <div class="bg-success text-white p-4">
                    <p class="h2 text-white">
                        Soyez prudent
                    </p>

                    <p>
                        Pour ne pas être victime de ce type d’escroqueries,
                        évitez les sites de vente et d’annonces qui ne sont pas
                        exclusivement dédiés aux annonces immobilières. Préférez
                        plutôt mener vos recherches sur notre plateforme ou
                        celles de Studapart, Lokaviz, Adele ou sur les sites des
                        bailleurs eux-mêmes
                    </p>
                </div>
            </div>
            <div class="col-12 col-lg-4 sidecontent">
                <div class="text-center">
                    <i class="fa-solid fa-comment fa-2x ms-2"></i>
                </div>

                <p>
                    Ciblez des logements conventionnés. Si vous cherchez une
                    location par vos propres moyens, faites attention à
                    l’éligibilité aux aides pour le logement (APL) du logement.
                    Cette information peut vous aiguiller, afin de savoir si
                    vous vous trouvez ou non face à une location abusive. Sachez
                    aussi qu’un bien proposé à la location doit posséder une
                    surface minimale de 9m2 et de 2,20 m de hauteur sous
                    plafond. Ou un volume habitable de 20 m3.
                </p>

                <p>
                    <a href="https://www.service-public.fr/particuliers/vosdroits/F2042"
                        target="_blank">
                        Informations sur la règlementation d’un logement décent
                    </a>
                </p>
            </div>
        </div>

        <div class="row gx-6 gy-5 mb-4">
            <div class="col-12 col-lg-4 sidecontent">
                <p>
                    <strong>
                        La recherche de logement peut s’effectuer de trois
                        façons possibles
                    </strong>
                </p>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <span class="badge text-white bg-info rounded-pill fs-4">
                            1
                        </span>
                        <p>
                            LES PLATEFORMES DE RÉSERVATION EN RÉSIDENCES
                            UNIVERSITAIRES et notamment celles des Centres
                            Régionaux des Œuvres Universitaires et Scolaires
                            (CROUS)
                        </p>
                    </li>
                    <li class="list-group-item">
                        <span class="badge text-white bg-info rounded-pill fs-4">
                            2
                        </span>
                        <p>
                            LES SITES INTERNET DES BAILLEURS SOCIAUX ET PRIVÉS
                            dont les offres peuvent être référencées au niveau
                            de plateformes d’annonces
                        </p>
                    </li>
                    <li class="list-group-item">
                        <span class="badge text-white bg-info rounded-pill fs-4">
                            3
                        </span>
                        <p>
                            LES PLATEFORMES D’ANNONCES OU LES SITES INTERNET DES
                            ASSOCIATIONS qui référencent les offres des
                            particuliers.
                        </p>
                    </li>
                </ul>
                <div class="border-bottom mb-4">
                    <div class="text-center">
                        <i class="fa-solid fa-comment fa-2x ms-2"></i>
                    </div> <br />
                    <p class="fs-6">
                        Dans les trois cas, il est conseillé de faire votre
                        recherche de logement en avance
                    </p>
                </div>
            </div>
            <div class="col-12 col-lg-8 maincontent">
                <h1>
                    Le temps nécessaire pour
                    <strong>la recherche</strong>
                </h1>

                <h2>
                    Les résidences universitaires des CROUS
                </h2>
                <ul class="fa-ul" style="--fa-li-width: 2em;">
                    <li>
                        <p>
                            <i class="fa-solid fa-stopwatch fa-2x"></i> DE MI-JANVIER
                            • Vous êtes éligible à une bourse sur critères sociaux.
                            votre Dossier Social Etudiant (DSE) est à constituer
                            <strong>
                                à partir de mi-janvier jusqu’au 15 mai
                            </strong> pour la rentrée de septembre. Vous devez faire
                            votre demande sur le site <a href="https://www.messervices.etudiant.gouv.fr"
                                target="_blank">
                                mes services étudiants
                            </a> via l’onglet « Demande de dossier social étudiant
                            » et renseigner votre demande de logement.
                        </p>
                        <p>
                            <strong>Attention</strong> : tous les étudiants ne sont
                            pas éligibles à la bourse sur critères sociaux, les critères
                            attachés étant par nature restrictifs (conditions de
                            ressources, de situation familiale, de domiciliation
                            et de scolarité), pour consulter les critères du Dossier
                            Social Etudiant : <a href="https://www.etudiant.gouv.fr/fr/les-bourses-sur-criteres-sociaux-1486"
                                target="_blank">
                                Etudiants.gouv, bourses sur critères sociaux
                            </a>
                        </p>
                        <p>
                            Une fois votre demande formulée, et votre dossier
                            validé par les services du CROUS, vous avez jusqu’à
                            fin juin pour déposer vos vœux de logement, et ce
                            directement sur <a href="https://trouverunlogement.lescrous.fr"
                                target="_blank">
                                la plateforme nationale
                            </a>
                        </p>
                    </li>
                    <li>
                        <p>
                            <i class="fa-solid fa-stopwatch fa-2x"></i> DÉBUT JUILLET
                            phase complémentaire • Vous n’êtes pas éligible à une
                            bourse sur critères sociaux : vous pouvez déposer vos
                            vœux de logement directement sur sur <a href="https://trouverunlogement.lescrous.fr"
                                target="_blank">
                                la plateforme nationale
                            </a> mais uniquement à compter de début juillet. Votre
                            demande sera alors traitée au fil de l’eau, et selon
                            les disponibilités se faisant jour. A noter que vous
                            avez également la possibilité de formuler une demande
                            via l’interface <a href="https://logement.campus-paris-saclay.fr"
                                target="_blank">
                                du GUPS
                            </a>
                            et ce dès le mois de Juin. Votre demande sera alors traitée
                            par votre établissement en fonction notamment de critères
                            pédagogiques.
                        </p>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row gx-6 gy-5 mb-4">
            <div class="col-12 col-lg-8 maincontent">
                <ul>
                    <li>
                        <h2>
                            Les Bailleurs sociaux et privés
                        </h2>
                        <p class="h3 text-info">
                            AU PLUS TARD JUIN
                        </p>
                        <p>
                            Pour les bailleurs sociaux, un dossier de
                            candidature est à constituer au plus tard en juin
                            pour la rentrée de septembre. L’avantage de s’y
                            prendre le plus à l’avance possible ? Maximiser vos
                            chances d’obtenir un logement qui vous convienne. Il
                            est à noter que certains bailleurs sociaux réservent
                            des places dans des résidences à des étudiants
                            répondant à des critères spécifiques. Ainsi, si vous
                            remarquez une résidence ayant des places libres, il
                            est possible que celles ci ne soient pas disponibles
                            pour tout le monde, mais seulement pour une certaine
                            catégorie d’étudiants.
                        </p>
                    </li>
                    <li>
                        <h2>
                            Les Particuliers
                        </h2>
                        <p class="h3 text-info">
                            AU PLUS TÔT
                        </p>
                        <p>
                            Pour les particuliers aussi, la prévoyance est le
                            maîtremot : plus tôt vous ferez vos démarches, plus
                            vous aurez de chances de trouver un logement.
                        </p>
                        <p>
                            Dans le cas où vous cherchez un logement <strong>
                                en dehors des périodes de rentrée
                            </strong> (fin août, début septembre & janvier), vous
                            pouvez également effectuer vos démarches. En effet, beaucoup
                            de bailleurs et notamment les CROUS gèrent les demandes
                            de logement « au fil de l’eau ». En effet, il arrive
                            qu’entre les deux périodes de rentrée, certains étudiants
                            quittent leurs logements pour des raisons personnelles
                            ou de départ en stage. Dans ce cas, ces quelques logements
                            libérés sont de nouveau disponibles, et il est donc possible
                            d’effectuer une demande.
                        </p>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-lg-4 sidecontent">
                <div class="border-bottom mb-4">
                    <div class="text-center">
                        <i class="fa-solid fa-comment fa-2x ms-2"></i>
                    </div> <br />
                    <p class="fs-6">
                        La demande de logement est très forte, particulièrement
                        lors des rentrées universitaires. Plus vous tarderez à
                        faire votre demande, moins il y aura d’offres
                        disponibles. Nous vous conseillons donc de vous lancer
                        dans votre recherche de logement au minimum quatre mois
                        avant votre arrivée prévue ou voulue pour bénéficier
                        d’un choix plus large.
                    </p>
                </div>
                <img id="guide-chambre"
                    class="img-fluid"
                    src="{{
                    asset(
                        'build/images/guide/chercher/Lile-Bures-sur-Yvette-11.jpg'
                    )
                    }}"
                    alt=""
                    aria-hidden="true" />

                <p class="mt-4">
                    Si vous n’avez pas pu faire votre demande ou votre dossier à
                    temps, vous pouvez essayer de chercher un logement dans des
                    délais plus courts, mais cela diminue nécessairement vos
                    possibilités de trouver un bien.
                </p>
            </div>
        </div>
        <div class="row gx-6 gy-5 mb-4">
            <h1>
                <strong>Les critères de sélection</strong>
                <span class="h2">et le partage des places</span>
            </h1>

            <div class="col-12 col-lg-6 maincontent">
                <p>
                    Il est important de savoir que les résidences
                    universitaires, notamment celles des CROUS, ont des critères
                    pédagogiques, sociaux ou encore géographiques pour
                    sélectionner les étudiants qui peuvent ou non accéder à
                    leurs logements. Cela rejoint ce que nous expliquions
                    précédemment : certaines places sont réservées à des
                    étudiants qui répondent aux critères de sélection. Des
                    quotas divisent le nombre de places dans une résidence en
                    deux catégories : la première est destinée à tous les
                    profils d’étudiants. L’autre concerne des profils
                    spécifiques. Si vous ne correspondez pas au profil recherché
                    par l’annonceur, vous ne pourrez donc pas bénéficier des
                    places réservées
                </p>
            </div>
            <div class="col-12 col-lg-6 sidecontent mb-4">
                <div class="bg-success text-white p-4">
                    <p class="h2 text-white">
                        Besoin d'aide ?
                    </p>

                    <p>
                        Malgré la lecture de ces conseils, vous vous sentez
                        perdus ? Ou bien certains points demeurent obscurs ?
                        N’hésitez pas à prendre contact avec la Direction Vie
                        Etudiante et Egalité des chances de l'Université
                        Paris-Saclay . Elle peut vous épauler dans votre
                        recherche. Si vous avez besoin d’aide ou d’informations
                        concernant le logement, utilisez le formulaire de
                        <a class="btn skinny bg-white text-dark btn-block"
                            href="{{ path('app_housing_generic_request') }}">
                            {{ 'footer.contact'|trans|upper }}
                        </a>
                    </p>
                    <p>
                        Vous pouvez également vous rendre aux bureaux de la
                        Direction de la vie étudiante et égalité des chances
                        (DVEEC) au bâtiment 311 du campus d’Orsay, 91400, tous
                        les jours de la semaine (hors vacances scolaires) de 9h
                        à 12h et de 13h à 17h
                    </p>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
