{% macro displayHousingCarousel(housingId, pictureBaseUrl, pictures) %}
    <div id="carousel-{{ housingId }}"
        class="carousel slide"
        data-bs-interval="false"
        data-bs-ride="carousel"
        aria-roledescription="carousel">
        <div class="carousel-inner" aria-live="off">
            {% for picture in pictures %}
                <div class="carousel-item {{
                    loop.index0 is same as(0)
                        ? 'active'
                    }}"
                    role="group"
                    aria-roledescription="slide"
                    aria-label="image {{
                    loop.index
                    }} of {{ pictures|length }} ">
                    <img src="{{ pictureBaseUrl }}/{{ picture.getPicture() }}"
                        alt="{{ picture.label }}"
                        tabindex="0" />
                </div>
            {% endfor %}
        </div>

        {% if (pictures|length) > 1 %}
            <button class="carousel-control-prev"
                type="button"
                data-bs-target="#carousel-{{ housingId }}"
                data-bs-slide="prev"
                aria-controls="carousel-{{ housingId }}"
                aria-label="{{ 'btn.image.previous'|trans }}">
                <span class="carousel-control-prev-icon" aria-hidden="true">

                </span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next"
                type="button"
                data-bs-target="#carousel-{{ housingId }}"
                data-bs-slide="next"
                aria-controls="carousel-{{ housingId }}"
                aria-label="{{ 'btn.image.next'|trans }}">
                <span class="carousel-control-next-icon" aria-hidden="true">

                </span>
                <span class="visually-hidden">Next</span>
            </button>
        {% endif %}
    </div>
{% endmacro %}
