
{% macro displayCard(housing, hasCriteria, isPriority, imageBaseUrl) %}
    {% import 'housing/_carousel.list.html.twig' as Carousel %}
    {% import 'housing/_range_data.html.twig' as RangeData %}
    {% import 'housing/_bookmark_button.html.twig' as Bookmark %}

    {% if housing.housingGroup.address.coordinates.longitude and housing.housingGroup.address.coordinates.latitude %}
        {%
        set locationInfo = {
            longitude: housing.housingGroup.address.coordinates.longitude,
            latitude: housing.housingGroup.address.coordinates.latitude
        } %}
        {% 
        
        set priceInfo = {
            rentMin :  housing.rentMin,
            rentMax :  housing.rentMax
        }
        %}
        <li class="card mb-2 contains-map-data" data-location={{ locationInfo|json_encode }} data-price={{ priceInfo|json_encode}}>
    {% else %}
        <li class="card mb-2">
    {% endif %}
    
        <div class="row g-0">
            <div class="col-12 col-md-6">
                 <a href="{{
                                path(
                                    'app_housing_detail',
                                    {
                                        id: housing.id
                                    }
                                )
                                }}">
            {% if housing.pictures|length %}
                {{
                    Carousel.displayHousingCarousel(
                        housing.id,
                        imageBaseUrl,
                        housing.pictures | first
                    )
                }}
                {% else %}
                <div class="text-center">
                    <i class="my-auto fa-regular fa-camera-slash fa-5x"></i>
                </div>
                
                {% endif %}
                </a>
            </div>
            <div class="col-12 col-md-6">
                <div class="card-body p-0 p-md-2">
                    {% if hasCriteria %}
                    <div class="row mb-0 mb-md-1">
                        <div class="col-12 d-flex align-items-center justify-content-end flex-wrap">
                            {% if isPriority %}
                                <span class="badge bg-success criteria-badge ms-1 mt-1">{{ 'housing.priority.card_badge' | trans }}</span>
                            {% else %}
                                <span class="badge bg-primary criteria-badge mt-1">{{ 'housing.criteria.card_badge' | trans }}</span>
                            {% endif %}
                        </div>
                    </div>
                    {% endif %}
                    <div class="row align-items-center mt-1 mt-md-0">
                        <div class="col-10 text-truncate d-block">
                            <a href="{{
                                path(
                                    'app_housing_detail',
                                    {
                                        id: housing.id
                                    }
                                )
                                }}">
                                <h2 class="mb-0">
                                    {{ housing.housingGroup.address.city }}
                                    {{ housing.type | capitalize }}
                                    {{
                                        RangeData.displayArea(
                                            housing.areaMin,
                                            housing.areaMax
                                        )
                                    }} 
                                </h2>
                            </a>
                        </div>
                        <div class="col-2 text-end">
                            {{ Bookmark.displayBookmarkButton(housing) }}
                        </div>
                    </div>
                        <div class="row">
                            <a class="card-link" href="{{
                                path(
                                    'app_housing_detail',
                                    {
                                        id: housing.id
                                    }
                                )
                                }}">

                            <div class="col-12">
                            {% if not housing.available %}
                                <h2> <span class="badge bg-secondary">{{ 'housing.unavailable'|trans}}</span></h2>
                            {% endif %}
                                {% set living_mode = 'housing.living_mode.' ~ housing.livingMode %}  

                                <div class="modes">{{ living_mode | trans }}
                                </div>
                                <div class="description crop-text">{{ housing.Description }}</div>
                            </div>

                            <div class="col-12 d-flex justify-content-start">
                                {% if housing.aplAgreement %}
                                        <span class="badge bg-success me-2 my-auto" style="height: 1.2rem">{{ 'housing.apl_agreement_tag'|trans }}</span>
                                {% endif %}

                                <span class="price card-text me-2">
                                    {{ housing.rentMin }}&nbsp;€
                                </span>
                                {% if housing.chargesIncluded %}
                                        <span class="my-auto" style="font-size: 0.8rem">{{'housing.price.charges.included'|trans}}</span>
                                {% endif %}

                                
                            </div>
                            <div class="col-12">
                                    {% if housing.quantity > 1 %}
                                    <p class="description mt-2" >
                                
                                    {{
                                        'housing.type.quantity'|trans({
                                            '%quantity%': housing.quantity
                                        })
                                    }}
                                    </p>
                                
                            
                            {% endif %}
                            </div>
                        </a>
                    </div>
                    
                </div>
            </div>
        </div>
    </li>
{% endmacro %}
