{% macro displayCard(housing, imageBaseUrl) %}
    {% import 'housing/_carousel.html.twig' as Carousel %}
    {% import 'housing/_range_data.html.twig' as RangeData %}
    {% import 'housing/_bookmark_button.html.twig' as Bookmark %}

    <div class="card mb-2">
        <div class="row g-0">
            <div class="col-12 col-md-6 col-lg-4">
                {{
                    Carousel.displayHousingCarousel(
                        housing.id,
                        imageBaseUrl,
                        housing.pictures
                    )
                }}
            </div>
            <div class="col-12 col-md-6 col-lg-8">
                <div class="card-body p-2">
                    <div class="card-title d-flex justify-content-between">
                        <a href="{{
                            path(
                                'app_housing_detail',
                                {
                                    id: housing.id
                                }
                            )
                            }}">
                            <span>
                                {{ housing.type }} - {{
                                    RangeData.displayArea(
                                        housing.areaMin,
                                        housing.areaMax
                                    )
                                }}
                            </span>
                            {{ housing.housingGroup.address.city }}
                        </a>

                        <span role="comment">
                            {% if housing.smoking %}
                                <i class="fa-solid fa-smoking"></i>
                                <span class="visually-hidden">
                                    {{ 'housing.smoking'|trans }}
                                </span>
                            {% endif %}
                            {% if housing.animalsAllowed %}
                                <i class="fa-solid fa-paw"></i>
                                <span class="visually-hidden">
                                    {{ 'housing.animals_allowed'|trans }}
                                </span>
                            {% endif %}

                            {% if housing.accessibility %}
                                <i class="fa-brands fa-accessible-icon"></i>
                                <span class="visually-hidden">
                                    {{ 'housing.accessible'|trans }}
                                </span>
                            {% endif %}
                        </span>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-6 d-flex align-items-start flex-column bd-highlight">
                            <div class="p-2">
                                <i class="fa-solid fa-bus me-2"></i>
                                {% set transportation_poi = housing.housingGroup.pointsOfInterest|filter(p => p.category is same as('transportation')) %}
                                {% set transportation_poi_length = transportation_poi|length %}
                                {% for poi in transportation_poi %}
                                    <span>
                                        {{ poi.label }}{% if not loop.index is same as(transportation_poi_length) %},{% endif %}
                                    </span>
                                {% endfor %}
                            </div>
                            <div class="p-2">
                                <i class="fa-solid fa-school me-2"></i>
                                <span>CentraleSupélec</span>
                            </div>
                            <a href="#" class="card-link mt-2">
                                Voir les conditions d’éligibilité après connexion
                            </a>
                        </div>
                        <div class="col-12 col-md-6">
                            <span class="price card-text d-flex justify-content-end">
                                {{ housing.rentMin }} €
                            </span>
                            <div class="text-center text-md-end mt-3">
                                {{ Bookmark.displayBookmarkButton(housing) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}
