{% macro displayCard(housing, imageBaseUrl) %}
    {% import 'housing/_carousel.html.twig' as Carousel %}
    {% import 'housing/_range_data.html.twig' as RangeData %}
    {% import 'housing/_bookmark_button.html.twig' as Bookmark %}

    {% if housing.housingGroup.address.coordinates.longitude and housing.housingGroup.address.coordinates.latitude %}
        {%
        set locationInfo = {
            longitude: housing.housingGroup.address.coordinates.longitude,
            latitude: housing.housingGroup.address.coordinates.latitude
        }
        %}
        <article class="card mb-2 contains-map-data" data-location={{ locationInfo | json_encode }}>
    {% else %}
        <article class="card mb-2">
    {% endif %}
    
        <div class="row g-0">
            <div class="col-12 col-md-6">
                {{
                    Carousel.displayHousingCarousel(
                        housing.id,
                        imageBaseUrl,
                        housing.pictures
                    )
                }}
            </div>
            <div class="col-12 col-md-6">
                <div class="card-body p-0 p-md-2">
                    {% if housing.hasSchoolCriterion or housing.hasSocialScholarshipCriterion %}
                    <div class="row mt-1 mt-md-0 mb-0 mb-md-1">
                        <div class="col-12 d-flex align-items-center justify-content-end">
                            <span class="badge bg-primary criteria-badge">{{ 'housing.criteria.card_badge' | trans }}</span>
                        </div>
                    </div>
                    {% endif %}
                    <div class="row align-items-center mt-1 mt-md-0">
                        <div class="col-10 text-truncate d-block">
                            <a href="{{
                                path(
                                    'app_housing_detail',
                                    {
                                        id: housing.id
                                    }
                                )
                                }}">
                                <h2 class="mb-0">
                                {{ housing.type | capitalize }} • {{
                                        RangeData.displayArea(
                                            housing.areaMin,
                                            housing.areaMax
                                        )
                                    }} • {{ housing.housingGroup.address.city }}
                                </h2>
                            </a>
                        </div>
                        <div class="col-2 text-end">
                            {{ Bookmark.displayBookmarkButton(housing) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            {% set living_mode = 'housing.living_mode.' ~ housing.livingMode %}  
                            {% set occupation_mode = 'housing.occupation_mode.' ~ housing.occupationMode %}  
                            <div class="modes">{{ living_mode | trans }} • {{ occupation_mode | trans }}</div>
                            <hr />
                            <div class="description crop-text">{{ housing.Description }}</div>
                        </div>
                        <div class="col-12">
                            <span class="price card-text d-flex justify-content-end">
                                {{ housing.rentMin }} €
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
{% endmacro %}
