{% macro displayArea(min, max) %}
    {{ min }} {% if max %}
        - {{ max }}
    {% endif %} <span aria-hidden="true">m<sup>2</sup></span>
    <span class="visually-hidden">{{ 'housing.area_unit'|trans }}</span>
{% endmacro %}

{% macro displayRangeCost(min, max) %}
    <span class="info">
        {% if max is null %}
            {{ min }} €
        {% else %}
            {{ min }} - {{ max }} €
        {% endif %}
    </span>
{% endmacro %}

{% macro displayMonthlyRangeCost(min, max) %}
    {{ _self.displayRangeCost(min, max) }}
    {{ 'housing.price.per_month'|trans }}
{% endmacro %}

{% macro displayCharges(included, min, max) %}
    {% if included %}
        <span class="info">{{ 'housing.price.charges.included'|trans }}</span>
    {% else %}
        <span>
            <span class="strong-text">
                {{ 'housing.price.charges.title'|trans }}
            </span>
            {{ _self.displayMonthlyRangeCost(min, max) }}
        </span>
    {% endif %}
{% endmacro %}
