{% macro displaySearch(form) %}
    {{
        form_start(
            form,
            {
                attr: {
                    novalidate: 'novalidate'
                }
            }
        )
    }}
    <div>
        {{ form_errors(form) }}
    </div>
    <div class="row pb-2">
        <div class="col">
            {{ form_label(form.maxPrice) }}
            <div class="input-group">
                {{ form_widget(form.maxPrice) }}
                <div class="input-group-append">
                    <span class="input-group-text">€</span>
                </div>
            </div>
        </div>

        <div class="col">
            {{ form_label(form.minArea) }}
            <div class="input-group">
                {{ form_widget(form.minArea) }}
                <div class="input-group-append">
                    <span class="input-group-text">M<sup>2</sup></span>
                </div>
            </div>
        </div>
        <div class="col">
            {{ form_label(form.city) }}
            {{ form_widget(form.city) }}
        </div>
    </div>

    {{ form_row(form.accessibility) }}

    <div class="d-flex justify-content-center">
        <input type="submit"
            class="btn btn-primary col"
            value="{{ 'search.criteria.submit'|trans }}" />
    </div>
    {{ form_end(form) }}
{% endmacro %}
