{% extends 'base.html.twig' %}

{% block title %}
    {{ 'housing.detail_page_title' | trans }} {{ housing.type }} {{ housing.housingGroup.address.city}}
    {{ parent() }}
{% endblock %}

{% import 'housing/_range_data.html.twig' as RangeData %}
{% import 'housing/_address.html.twig' as Address %}
{% import 'housing/_carousel.html.twig' as Carousel %}
{% import 'housing/_bookmark_button.html.twig' as Bookmark %}
{% import 'housing/_icons.html.twig' as Icons %}
{% import 'housing/_pois.html.twig' as Pois %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet"
        href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
        integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
        crossorigin="" />
{% endblock %}

{% block body %}
    <main class="container housing-detail-page text-dark" id="maincontent">

        {% if housing.housingGroup.address.coordinates.longitude and housing.housingGroup.address.coordinates.latitude %}
            {%
            set locationInfo = {
                longitude: housing.housingGroup.address.coordinates.longitude,
                latitude: housing.housingGroup.address.coordinates.latitude
            } %}
            {% 
            
            set priceInfo = {
                rentMin :  housing.rentMin,
                rentMax :  housing.rentMax
            }
        %}
            <div class="row contains-map-data" data-location={{ locationInfo|json_encode }} data-price={{ priceInfo|json_encode}}>
        {% else %}
            <div class="row">
        {% endif %}
            <div class="col-12 pt-3">
                {# Title and Picture #}
                <div class="row">
                    <h1 class="col-12 col-md-9">
                        {{ ("housing.type.#{housing.type}")|trans }}<span aria-hidden='true'>·</span>
                        {{
                            housing.housingGroup.address.city
                        }}
                    </h1>
                    <div class="col-12 col-md-3 mb-2 text-md-end">
                        {{ Bookmark.displayBookmarkButton(housing) }}
                    </div>

                    <div class="mt-4 card-detail">
                        {{
                            Carousel.displayHousingCarousel(
                                housing.id,
                                imageBaseUrl,
                                housing.pictures
                            )
                        }}
                    </div>
                </div>

                <div class="row gx-5">
                    {% if hasCriteria %}
                        <div class="col-12 mt-1 d-flex align-items-center justify-content-start flex-wrap">
                            {% if isPriority %}
                                <p class="badge bg-success criteria-badge ms-1 mt-1">
                                    {{ 'housing.priority.card_badge'|trans }}
                                </p>
                            {% else %}

                            <p class="badge bg-primary criteria-badge mt-1">
                                {{ 'housing.criteria.card_badge'|trans }}
                            </p>
                            {% endif %}
                        </div>
                    {% endif %}

                </div>

                {# General Information #}
                <div class="row">
                
                    <h2 class='mt-4'>{{ 'housing.general_information'|trans}}</h2>
                    {# Prices #}
                    <div class="col-12 col-md-6 mt-4">
                        <h3 class="mb-2">
                            {{ 'housing.price.title'|trans }}                                 
                            {% if housing.aplAgreement %}
                                <span class="badge bg-success me-2 my-auto">{{ 'housing.apl_agreement'|trans }}</span>
                            {% endif %}

                        </h3>
                        <ul >
                            <li class="main-info row">
                                <p class="col-6 label">{{ 'housing.price.rent'|trans }}</p>
                                <p class='col-6'>
                                {{
                                    RangeData.displayMonthlyRangeCost(
                                        housing.rentMin,
                                        housing.rentMax
                                    )
                                }}
                                </p>
                            </li>
                            <li class="main-info row">
                                <p class="col-6 label">Charges</p>
                                <p class="col-6">
                                {{
                                    RangeData.displayCharges(
                                        housing.chargesIncluded,
                                        housing.chargesMin,
                                        housing.chargesMax
                                    )
                                }}
                                </p>
                            </li>
                            <li class="main-info row">
                                <p class="col-6 label">
                                    {{ 'housing.price.application_fee'|trans }}
                                </p>

                                <p class="col-6">
                                    {{
                                        RangeData.displayRangeCost(
                                            housing.applicationFeeMin,
                                            housing.applicationFeeMax
                                        )
                                    }}
                                </p>
                            </li>
                            <li class="main-info row">
                                <p class="col-6 label">

                                    {{ 'housing.price.security_deposit'|trans }}
                                </p>
                                
                                <p class="col-6">
                                {{
                                    RangeData.displayRangeCost(
                                        housing.securityDepositMin,
                                        housing.securityDepositMax
                                    )
                                }}
                                </p>
                            </li>
                        </ul>
                    </div>
                    {# Informations #}
                    <div class="col-12 col-md-6 mt-4">
                    
                        <h3 class="mb-2">{{ 'housing.caracteristics'|trans }}</h3>
                        <ul >
                            <li class="main-info row">
                                <p class="col-6 label">Surface</p>
                                <p class="col-6 info">
                                {{
                                    RangeData.displayArea(
                                        housing.areaMin,
                                        housing.areaMax
                                    )
                                }}
                                </p>
                            <li class="main-info row">
                                <p class="col-6 label">
                                    {{ 'housing.accessible'|trans }}
                                </p>
                                <p class="col-6 info">
                                {% if housing.accessibility %}
                                    {{ 'general.label_yes'|trans}}
                                {% else %}
                                    {{ 'general.label_no'|trans}}
                                {% endif %}
                            </li>
                            <li class="main-info row">
                                <p class="col-6 label">
                                    {{ 'housing.smoking'|trans }}
                                </p>
                                <p class="col-6 info">
                                {% if housing.smoking %}
                                    {{ 'general.label_yes'|trans}}
                                {% else %}
                                    {{ 'general.label_no'|trans}}
                                {% endif %}
                            </li>
                            <li class="main-info row">
                                <p class="col-6 label">
                                    {{ 'housing.animals_allowed'|trans }}
                                </p>
                                <p class="col-6 info">
                                {% if housing.animalsAllowed %}
                                    {{ 'general.label_yes'|trans}}
                                {% else %}
                                    {{ 'general.label_no'|trans}}
                                {% endif %}
                            </li>
                         
                        </ul>
                    </div>
                </div>

                <div class="row">

                    <h2 class="mt-4">{{ 'housing.description'|trans}}</h2>

                    {% if housing.description is not null %}
                        <div class="row mt-3">
                            <p class="col main-info">
                                {{ housing.description | nl2br}}
                            </p>
                        </div>
                    {% else %}
                        {{ 'housing.no_description'|trans}}
                    {% endif %}
                </div>

                <div class="row">
                    <h2 class="mt-4">
                        {{ 'housing.practical_information'|trans }}
                    </h2>
                    <div class="col-12 col-md-6 mt-4">
                        <ul >
                        {% if housing.quantity > 1 %}
                            <li class="main-info">
                                {{
                                    'housing.type.quantity'|trans({
                                        '%quantity%': housing.quantity
                                    })
                                }}
                            </li>
                        
                        {% endif %}

                            <li class="main-info">
                                {{
                                    ("housing.living_mode.#{housing.livingMode}")|trans
                                }}
                            </li>

                        </ul>
                    </div>

                    
                    {% if housing.occupationModes|length %}
                    <div class="col-12 col-md-6 mt-4">
                        <ul >
                            <li class="main-info text-primary">
                            {{
                                ("housing.occupation_mode.label")|trans
                            }}
                            </li>
                        {% if housing.occupants > 1 %}
                            <li>
                                ({{
                                    'housing.occupation_mode.occupants'|trans({
                                        '%occupants%': housing.occupants
                                    })
                                }})
                            </li>
                        {% endif %}

                        {% for mode in housing.occupationModes %}
                            <li class="main-info"> {{ mode|label_translate}}</li>
                        {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                                

                    {% if housing.stayDurations|length %}
                    <div class="col-12 col-md-6 mt-4">
                        <ul >
                            <li class="main-info text-primary">
                                {{
                                    ("housing.stay_duration.label")|trans
                                }}
                            </li>
                            {% for stayduration in housing.stayDurations %}
                                <li class="main-info">{{ stayduration|label_translate }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}

                    {% if housing.leaseType|length %}
                        <div class="col-12 col-md-6 mt-4">
                            <ul >
                                <li class="main-info text-primary">
                                    {{
                                        ("housing.lease_type.label")|trans
                                    }}
                                </li>
                                {% for lease in housing.leaseType %}
                                    <li class="main-info">{{ lease|label_translate }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}


                </div>
                <h2 class="mt-4 mb-3">
                    {{ 'housing.equipment.title'|trans }}
                </h2>
                <div class="row">
                    <ul class="col icons-container">
                        {% if housing.housingGroup.equipments|length %}
                                {# This removes double display if admin ticked equipement both in Group and Housing #}
                                {% set displayed = [] %}
                                {% for equipment in housing.housingGroup.equipments %}
                                    {{ Icons.displayEquipment(equipment) }}
                                    {% set displayed =
                                        displayed|merge(
                                            [
                                                {
                                                    id: equipment.id
                                                }
                                            ]
                                        )
                                    %}
                                {% endfor %}

                                {% for equipment in housing.equipments %}
                                    {% if not equipment.id in displayed %}
                                        {{ Icons.displayEquipment(equipment) }}
                                    {% endif %}
                                {% endfor %}
                        {% else %}
                            <li>{{ 'general.novalue'|trans }}</li>
                        {% endif %}
                    </ul>
                </div>
                <div class="row gx-0">
                    <div class="col-12 mt-4">
                        <h2>
                            {{ 'housing.address'|trans }}
                        </h2>
                        
                            {{
                                Address.displayAddress(
                                    housing.housingGroup.address
                                )
                            }}

                    </div>
                    <div class="col-12 mt-4 p-4 bg-light" id="map"></div>
                </div>


                <h2 class="mt-4 mb-3">
                    {{ 'housing.services.included'|trans }}
                </h2>
                {% set includedServices = housing.housingGroup.housingGroupServices|filter((s) => not s.isOptional) %}
                <div class="row">
                    <ul class="col icons-container">
                        {% if includedServices|length %}
                            {% for housingGroupService in includedServices %}
                                {{
                                    Icons.displayEquipment(
                                        housingGroupService.service
                                    )
                                }}
                            {% endfor %}
                        {% else %}
                            <li>{{ 'general.novalue'|trans }}</li>
                        {% endif %}
                    </ul>
                </div>

                <h2 class="mt-4 mb-3">
                    {{ 'housing.services.optional'|trans }}
                </h2>
                {% set optionalServices = housing.housingGroup.housingGroupServices|filter((s) => s.isOptional) %}
                <div class="row">
                    <ul class="col icons-container">
                        {% if optionalServices|length %}
                            {% for housingGroupService in optionalServices %}
                                {{
                                    Icons.displayEquipment(
                                        housingGroupService.service
                                    )
                                }}
                            {% endfor %}
                        {% else %}
                            <li>{{ 'general.novalue'|trans }}</li>
                        {% endif %}
                    </ul>
                </div>                

                {% if hasCriteria %}
                    <h2 class="mt-4">
                        {{ 'housing.criteria.detail.title'|trans }}
                    </h2>
                    <div class="row">
                        <p>
                            {{
                                'housing.criteria.detail.description'|trans
                            }}
                        </p>
                        <ul >
                            {% if hasSocialScholarshipCriteria %}
                                <li class="minor-info mt-2">
                                    {{
                                        'housing.criteria.detail.social_scholarship_criterion'|trans
                                    }}
                                </li>
                            {% endif %}
                            {% if hasSchoolCriteria %}
                                <li class="minor-info mt-2">
                                    {{
                                        'housing.criteria.detail.school_criterion'|trans
                                    }}
                                    {{ schools|join(', ') }}
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                {% endif %}

                <h2 class="mt-4 mb-0">
                    {{ 'housing_group.guarantors'|trans }}
                </h2>
                <ul class="col" style="margin-left:0.8rem;">
                    {% if housing.housingGroup.possibleGuarantor|length %}
                        {% for guarantor in housing.housingGroup.possibleGuarantor %}
                            <li>{{ guarantor|label_translate}}</li>
                        {% endfor %}
                    {% else %}
                        <li>{{ 'general.novalue'|trans }}</li>
                    {% endif %}
                    </ul>

                <h2 class="mt-4 mb-0">
                    {{ 'housing.point_of_interest'|trans }}
                </h2>
                <div class="row">
                    <div class="col-12 col-md-6 mt-3">
                        <h3>
                            <i class="fa-solid fa-bus fa-xl me-1"></i>
                            {{
                                'housing_group.point_of_interest_category.transportation'|trans
                            }}
                        </h3>
                        <ul >
                            {% set transportationPOI = housing.housingGroup.pointsOfInterest|filter((poi) => poi.category =='transportation') %}
                            {% if transportationPOI|length %}
                                {% for pointOfInterest in transportationPOI %}
                                    {{ Pois.displayPOI(pointOfInterest) }}
                                {% endfor %}
                            {% else %}
                                <li>{{ 'general.novalue'|trans }}</li>

                            {% endif %}
                        </ul>
                    </div>
                    <div class="col-12 col-md-6 mt-3">
                        <h3 class="strong-text text-md-end">
                            <i class="fa-solid fa-shop fa-xl me-1"></i>
                            {{
                                'housing_group.point_of_interest_category.store'|trans
                            }}
                        </h3>
                        <ul class="text-md-end">
                            {% set storePOI = housing.housingGroup.pointsOfInterest|filter((poi) => poi.category =='store') %}
                            {% if storePOI|length %}
                                {% for pointOfInterest in storePOI %}
                                    {{ Pois.displayPOI(pointOfInterest) }}
                                {% endfor %}
                            {% else %}
                                <li>{{ 'general.novalue'|trans }}</li>
                            {% endif %}
                        </ul>
                    </div>
                </div>

                <div class="row mt-4 mb-4">
                    <div class="col d-flex justify-content-between">
                        <a href={{ path('app_housing_list') }}
                            class="btn btn-primary btn-large">
                            <i class="fa-light fa-arrow-left"></i>
                            {{ 'housing.list.back_to_list'|trans }}
                        </a>
                  
                        <a href="{{ housing.redirectLink }}"
                            target="_blank"
                            class="btn btn-primary btn-large">
                            {{ 'housing.redirect_button'|trans }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </main>
    {% block javascripts %}
        {{ encore_entry_script_tags('show_map') }}
    {% endblock %}
{% endblock %}



