{% import 'housing/_search_advanced.html.twig' as Search %}

{% extends 'base.html.twig' %}

{% block title %}
    {{ 'housing.list.page_title'|trans }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet"
        href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
        integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
        crossorigin="" />
{% endblock %}

{% block body %}
    {% import 'housing/_housing_card.html.twig' as HousingCard %}
    <div class="container" role="search">
        {% if (pagination|length) > 0 %}
            <div class="d-flex align-items-center">
                <button class="btn btn-sm btn-outline-primary m-2"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseSearch"
                    aria-expanded="false"
                    aria-controls="collapseSearch">
                    <i class="fa-solid fa-sliders"></i>
                    <span class="d-none d-md-inline">
                        {{ 'housing.search.criteria.refine'|trans }}
                    </span>
                </button>
            </div>
            <h1 class="h3">
                {{
                    'housing.search.found'|trans({
                        '%total_found%': pagination.totalItemCount
                    })
                }}
            </h1>
        {% endif %}
        <div class="collapse mb-4 {{ (pagination|length) == 0 ? 'show' }}"
            id="collapseSearch">
            <div class="card-body">
                {{ Search.displaySearch(form, cities, true) }}
            </div>
        </div>
    </div>
    <main class="container" id="maincontent">
        {% if (pagination|length) > 0 %}
            <div class="row">
                <div class="cards-list col-12 col-md-7 col-lg-5 px-4">
                    {# prettier-ignore #}

                    <div class="d-flex justify-content-end" role="navigation">
                        <div class="h3">
                            {{ 'housing.list.sort.label'|trans }}
                        </div>
                        <div class="mx-2"
                            aria-label="{{ 'housing.list.sort.label'|trans }} {{ 'housing.list.sort.price'|trans }}">
                            {{
                                knp_pagination_sortable(
                                    pagination,
                                    'housing.list.sort.price'|trans,
                                    'h.rentMin'
                                )
                            }}
                        </div>
                        <div class="mx-2"
                            aria-label="{{ 'housing.list.sort.label'|trans }} {{ 'housing.list.sort.area'|trans }}">
                            {{
                                knp_pagination_sortable(
                                    pagination,
                                    'housing.list.sort.area'|trans,
                                    'h.areaMin'
                                )
                            }}
                        </div>
                    </div>
                    <section aria-label="{{ 'housing.search.result'|trans }}">
                        {% for pageElement in pagination %}
                            {{
                                HousingCard.displayCard(
                                    pageElement[0],
                                    pageElement.hasCriteria,
                                    pageElement.isPriority,
                                    imageBaseUrl
                                )
                            }}
                        {% endfor %}
                    </section>
                    <div class="navigation"
                        role="navigation"
                        aria-label="pages">
                        {{ knp_pagination_render(pagination) }}
                    </div>
                </div>
                <div class="d-none d-md-block col-md-5 col-lg-7" id="map"></div>
            </div>
        {% else %}
            <div class="container bg-light h2 p-2">
                {{ 'housing.search.not_found'|trans }}
            </div>
        {% endif %}
    </main>
    {% block javascripts %}
        {{ encore_entry_script_tags('show_map') }}
    {% endblock %}
{% endblock %}
