{% extends 'base.html.twig' %}

{% block title %}
    {{ 'authentication.register.page_title'|trans }}
    {% if
        (registrationForm.plainPassword.second.vars.errors|length)
            or (registrationForm.email.vars.errors|length)
            or (registrationForm.plainPassword.first.vars.errors|length) %}
        {{ 'general.title_form_errors'|trans }}
    {% endif %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <main class="container mb-3 flex-grow-1 d-flex flex-column justify-content-center"
        id="maincontent">
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-md-6">
                {% if
                    (registrationForm.plainPassword.second.vars.errors|length)
                        or (registrationForm.email.vars.errors|length)
                        or (registrationForm.plainPassword.first.vars.errors|length) %}
                        <p class="visually-hidden">
                    {{ 'general.title_form_errors'|trans }}
                    </p>
                {% endif %}

                <p>
                    {{ 'authentication.register.all_field_mandatory'|trans }}
                </p>
                {{ form_start(registrationForm) }}
                <div class="form-floating mb-3">
                    {{ form_widget(registrationForm.email, 
                        { 'attr' : { 'autocomplete': 'email'}}
                    ) }}
                    {{ form_label(registrationForm.email) }}
                    {% for error in registrationForm.email.vars.errors %}
                        <p class="invalid-feedback">
                            {{ error.message|trans }}
                        </p>
                    {% endfor %}
                </div>
                <div class="form-floating mb-3">
                    {{ form_widget(registrationForm.plainPassword.first , { 'attr' : { 'autocomplete': 'new-password'}}) }}
                    {{ form_label(registrationForm.plainPassword.first) }}
                    {% for error in registrationForm.plainPassword.first.vars.errors %}
                        <p class="invalid-feedback">
                            {{ error.message|trans }}
                        </p>
                    {% endfor %}
                </div>
                <div class="form-floating mb-3">
                    {{ form_widget(registrationForm.plainPassword.second) }}
                    {{ form_label(registrationForm.plainPassword.second) }}
                    {% for error in registrationForm.plainPassword.second.vars.errors %}
                        <p class="invalid-feedback">
                            {{ error.message|trans }}
                        </p>
                    {% endfor %}
                </div>
                <div class="row">
                    <div class="col d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary">
                            {{ 'authentication.register.button'|trans }}
                        </button>
                    </div>
                </div>
                {{ form_end(registrationForm) }}
            </div>
        </div>
    </main>
{% endblock %}
