{% extends 'base.html.twig' %}

{% block title %}
    {{ 'authentication.register.page_title'|trans }}
{% endblock %}

{% block body %}
    <main class="container mb-3 flex-grow-1 d-flex flex-column justify-content-center"
        id="maincontent">
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-md-6">
                {{ form_start(registrationForm) }}
                <div class="form-floating mb-3">
                    {{ form_widget(registrationForm.email) }}
                    {{ form_label(registrationForm.email) }}
                    {% for error in registrationForm.email.vars.errors %}
                        <div class="invalid-feedback">
                            {{ error.message|trans }}
                        </div>
                    {% endfor %}
                </div>
                <div class="form-floating mb-3">
                    {{ form_widget(registrationForm.plainPassword) }}
                    {{ form_label(registrationForm.plainPassword) }}
                    {% for error in registrationForm.plainPassword.vars.errors %}
                        <div class="invalid-feedback ps-1 pe-1">
                            {{ error.message|trans }}
                        </div>
                    {% endfor %}
                </div>
                <div class="row">
                    <div class="col d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary">
                            {{ 'authentication.register.button'|trans }}
                        </button>
                    </div>
                </div>
                {{ form_end(registrationForm) }}
            </div>
        </div>
    </main>
{% endblock %}
