{% for flash_error in app.flashes('error') %}
    <div class="row d-flex justify-content-center mt-3">
        <div class="col-12 col-md-8 d-flex justify-content-center">
            <p class="w-75 alert alert-danger" role="alert">
                {{ flash_error }}
            </p>
        </div>
    </div>
{% endfor %}

{% for flash_message in app.flashes('success') %}
    <div class="row d-flex justify-content-center mt-3">
        <div class="col-12 col-md-8 d-flex justify-content-center">
            <div class="w-75 alert alert-success alert-dismissible fade show text-center"
                role="alert">
                <p>
                    {{ flash_message }}
                </p>
                <button type="button"
                    class="btn-close p-2"
                    data-bs-dismiss="alert"
                    aria-label="{{ 'general.close'|trans }}">

                </button>
            </div>
        </div>
    </div>
{% endfor %}

{% for flash_error in app.flashes('reset_password_error') %}
    <div class="row d-flex justify-content-center mt-3">
        <div class="col-12 col-md-8 d-flex justify-content-center">
            <div class="w-75 alert alert-danger alert-dismissible fade show"
                role="alert">
                <p>
                    {{ flash_error }}
                </p>
                <button type="button"
                    class="btn-close"
                    data-bs-dismiss="alert"
                    aria-label="{{ 'general.close'|trans }}">

                </button>
            </div>
        </div>
    </div>
{% endfor %}
