<div class="footer row pt-3">
    <div class="d-flex col-12 col-md-3 justify-content-center justyfy-content-md-start">
        <img src="{{ asset('build/images/logo-ups-white.svg') }}"
            alt="logo université paris saclay"
            height="60" />
    </div>
    <nav class="col-12 col-md-9">
        <ul class="nav row">
            <li class="nav-item col-6">
                <a class="nav-link" href="#">{{ 'footer.faq'|trans|upper }}</a>
            </li>
            <li class="nav-item col-6">
                <a class="nav-link" href="#">
                    {{ 'footer.urgent'|trans|upper }}
                </a>
            </li>
            <li class="nav-item col-6">
                <a class="nav-link" href="#">
                    {{ 'footer.contact'|trans|upper }}
                </a>
            </li>
            <li class="nav-item col-6">
                <a class="nav-link"
                    href="https://www.universite-paris-saclay.fr/"
                    target="_blank">
                    {{ 'footer.university'|trans|upper }}
                </a>
            </li>
            <li class="nav-item col-6">
                <a class="nav-link" href="#">
                    {{ 'footer.legal'|trans|upper }}
                </a>
            </li>
        </ul>
    </nav>
</div>
