<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <!-- Required meta tags -->
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>
            {% block title %}
                - {{ 'general.platform_name'|trans }}
            {% endblock %}
        </title>
        <link rel="icon"
            type="image/png"
            href="{{ asset('build/icons/favicon-u-prune.png') }}" />
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block early_javascripts %}
            {{ encore_entry_script_tags('app') }}
            {% if matomo == 'true' %}
                {{ encore_entry_script_tags('matomo_tracker') }}
            {% endif %}
        {% endblock %}
        <script src="https://kit.fontawesome.com/e8eeb3a7dc.js"
            crossorigin="anonymous"></script>
    </head>
    <body class="d-flex flex-column h-100">
        <a href="#maincontent" class="visually-hidden">
            {{ 'home.link.skip_to_main'|trans }}
        </a>
        <header>
            {% include '_navbar.html.twig' %}
        </header>

        {% include '_flashes.html.twig' %}

        {% block body %}

        {% endblock %}

        <footer class="container mt-auto">
            {% include '_footer.html.twig' %}
        </footer>
        {% block javascripts %}

        {% endblock %}
    </body>
</html>
